backend/homepage.json
[
    {
        "id": "d66642cf4bf64b92",
        "type": "tab",
        "label": "어드민 페이지",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4109f40d8078ede0",
        "type": "group",
        "z": "d66642cf4bf64b92",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2f8c341b170dfaa0",
            "395dac710754c909",
            "a929050d4d080e0b",
            "b9aa2003e8ba980d",
            "b8fab596d031ce3c",
            "c50342702f9e6384",
            "568a8f4c080c13c1",
            "f94831cbc120ea57"
        ],
        "x": 214,
        "y": 107,
        "w": 1032,
        "h": 194
    },
    {
        "id": "b5521009710765be",
        "type": "group",
        "z": "d66642cf4bf64b92",
        "name": "image up load",
        "style": {
            "label": true
        },
        "nodes": [
            "53301869c9a8e9d0",
            "4879656104586e6b",
            "c9056ed8587242f0",
            "dadcfda23db212d3",
            "66bed8adf8e3c08e"
        ],
        "x": 214,
        "y": 339,
        "w": 992,
        "h": 82
    },
    {
        "id": "bd3627f098f79991",
        "type": "group",
        "z": "d66642cf4bf64b92",
        "name": "파일 정보 미리 보기",
        "style": {
            "label": true
        },
        "nodes": [
            "c8586af41b745f78",
            "41a66048ec4521fd",
            "f413d3c0e2f9712e",
            "4a1fc0dd3cfa29c8",
            "44dbc119665b184a",
            "8caf090378be1aba",
            "def14c8d8d9d5212",
            "4583b21003a062c2",
            "2efac2e5d888c534",
            "6520a7d12782f46a",
            "e8c3485ce0bb1ce2",
            "faf39ee597205f88",
            "4f466fadd0ca1bdf",
            "d732dc31aa2a4d56",
            "4379f74941d388de",
            "bc4fe340501b33fb",
            "0194d2782becdaf4",
            "91abd97bbdd5f22c",
            "5fdd69edf6fa788a",
            "263f2f5de6795b4d",
            "2c875a634c498e34",
            "b8f8fe8e908fd515",
            "93200da07dd49c90",
            "426d8be1e1c1c47f",
            "3fedf4fd47a2e5a4",
            "2d6df94c02fb7956",
            "c116fbf23c2bf557",
            "6740710d7291dbd7",
            "c50db793a0c1787d",
            "81c5ee8f4f4218e6",
            "8268c64aa7a51baf",
            "b8b0c6d495afa98f",
            "cd3ecb632b83fc59",
            "6673509206eb067a",
            "4d1b8d515f96be96",
            "a2b98251b82177d3"
        ],
        "x": 114,
        "y": 439,
        "w": 1472,
        "h": 542
    },
    {
        "id": "4d1b8d515f96be96",
        "type": "junction",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "81c5ee8f4f4218e6",
                "8268c64aa7a51baf",
                "f413d3c0e2f9712e"
            ]
        ]
    },
    {
        "id": "2f8c341b170dfaa0",
        "type": "ui_template",
        "z": "d66642cf4bf64b92",
        "g": "4109f40d8078ede0",
        "group": "4cd464ef32526d2c",
        "name": "",
        "order": 1,
        "width": "24",
        "height": "12",
        "format": "<!-- Include stylesheet -->\n<link href=\"https://cdn.quilljs.com/1.3.6/quill.snow.css\" rel=\"stylesheet\">\n<style>{{msg.style}}</style>\n<div id=\"form-container\" class=\"container\">\n    <form>\n        <div class=\"row\">\n            <div>\n                <div class=\"form-group\">\n                    <label for=\"subject\">제 목</label>\n                    <input id=\"subject\" class=\"form-control\" style=\"width:200px\" name=\"subject\" type=\"text\" placeholder=\"제목을 입력 하세요\" required>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"summary\">요 약</label>\n                    <input id = \"summary\" class=\"form-control\" style=\"width:400px\" name=\"summary\" type=\"text\" placeholder=\"요약 내용을 입력 하세요\" required>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"url\">이미지</label>\n                    <input id = \"url\" class=\"form-control\" style=\"width:200px\" name=\"summary\" type=\"text\" placeholder=\"타이틀 이미지 url정보\" required>\n                </div>\n            </div>\n        </div>\n        <div class=\"row form-group\">\n            <label for=\"detail\">상세내용</label>\n            <input name=\"detail\" type=\"hidden\" >\n            <div id=\"editor-container\">\n                {{msg.payload}}\n            </div>\n        </div>\n        <div class=\"row\">\n            <md-button  ng-click=\"send({payload:action()})\">문서저장</md-button>\n            <!--button class=\"btn btn-primary\" type=\"submit\">문서 저장</button-->\n        </div>\n    </form>\n</div>    \n<!-- Initialize Quill editor -->\n\n\n<script>\n    var toolbarOptions = [\n        ['bold', 'italic', 'underline', 'strike'], // toggled buttons\n        ['blockquote','code-block'],\n\n        [{ 'header': 1 }, { 'header': 2 },{ 'header': 3 }], // custom button values\n        [{ 'list': 'ordered'}, { 'list': 'bullet' }],\n        [{ 'script': 'sub'}, { 'script': 'super' }], // superscript/subscript\n        [{ 'indent': '-1'}, { 'indent': '+1' }], // outdent/indent\n        [{ 'direction': 'rtl' }], // text direction\n\n        [{ 'size': ['small', false, 'large', 'huge'] }], // custom dropdown\n        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],\n\n        [{ 'color': [] }, { 'background': [] }], // dropdown with defaults from theme\n        [{ 'font': [] }],\n        [{ 'align': [] }],\n\n        ['clean', 'image', 'video','link' ]\n    ];\n    var quill = new Quill('#editor-container', {\n        modules: {\n        toolbar: toolbarOptions\n        },\n        theme: 'snow'\n    });\n\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg){\n               var payload = msg.payload;\n               if(payload.hasOwnProperty('ops')== true){\n                    quill.setContents(payload);\n               }else{\n                    quill.setText(payload);\n               }\n            }\n           \n        });    \n    })(scope);    \n    //var value ={};\n    this.scope.action = function() { \n        var subject = $(\"#subject\").val();\n        var summary = $(\"#summary\").val();\n        var url = $(\"#url\").val();\n        var detail = document.querySelector('input[name=detail]');\n        detail.value = JSON.stringify(quill.getContents());\n        var result = {\n                subject:subject,\n                summary:summary,\n                url:url,\n                detail:detail.value\n        }\n        return result;\n    }\n\n\n    </script>\n\n    ",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "b8fab596d031ce3c",
                "b9aa2003e8ba980d"
            ]
        ]
    },
    {
        "id": "395dac710754c909",
        "type": "template",
        "z": "d66642cf4bf64b92",
        "g": "4109f40d8078ede0",
        "name": "Style css",
        "field": "style",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n#form-container {\n    width: 100%;\n}\n\ninput {\n    margin-top : 10px;\n}\n.row {\n    margin-top: 15px;\n}\n.row.form-group {\npadding-left: 15px;\npadding-right: 15px;\n}\n.btn {\nmargin-left: 15px;\n}\n\n.change-link {\nbackground-color: #000;\nborder-bottom-left-radius: 6px;\nborder-bottom-right-radius: 6px;\nbottom: 0;\ncolor: #fff;\nopacity: 0.8;\npadding: 4px;\nposition: absolute;\ntext-align: center;\nwidth: 150px;\n}\n.change-link:hover {\ncolor: #fff;\ntext-decoration: none;\n}\n\nimg {\nwidth: 150px;\n}\n\n#editor-container {\nheight: 350px;\n}",
        "output": "str",
        "x": 620,
        "y": 200,
        "wires": [
            [
                "2f8c341b170dfaa0"
            ]
        ]
    },
    {
        "id": "a929050d4d080e0b",
        "type": "inject",
        "z": "d66642cf4bf64b92",
        "g": "4109f40d8078ede0",
        "name": "반가워요. \\n 아래의 내용을 입력 해 주세요",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "반가워요. 아래의 내용을 입력 해 주세요",
        "payloadType": "str",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "395dac710754c909"
            ]
        ]
    },
    {
        "id": "b9aa2003e8ba980d",
        "type": "debug",
        "z": "d66642cf4bf64b92",
        "g": "4109f40d8078ede0",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "b8fab596d031ce3c",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "4109f40d8078ede0",
        "name": "check input",
        "func": "var p = msg.payload;\nif(p.subject ==\"\" || p.summary ==\"\" || p.url == \"\" ){\n    msg.topic = \"경고\";\n    msg.payload = \"정확한 정보를 입력 하세요\";\n    return [null, msg];\n}else{\n    var topic = \"INSERT INTO blog(subject, url, summary, detail) VALUES('\" + p.subject + \"','\" + p.url + \"','\" + p.summary + \"','\" + p.detail + \"');\";\n    msg.topic = topic;\n    return [msg, null];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 240,
        "wires": [
            [
                "568a8f4c080c13c1",
                "f94831cbc120ea57",
                "395dac710754c909"
            ],
            [
                "c50342702f9e6384",
                "395dac710754c909"
            ]
        ]
    },
    {
        "id": "c50342702f9e6384",
        "type": "ui_toast",
        "z": "d66642cf4bf64b92",
        "g": "4109f40d8078ede0",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "568a8f4c080c13c1",
        "type": "link out",
        "z": "d66642cf4bf64b92",
        "g": "4109f40d8078ede0",
        "name": "blog insert out",
        "mode": "link",
        "links": [
            "d8ab82a7efb57211"
        ],
        "x": 1005,
        "y": 180,
        "wires": []
    },
    {
        "id": "f94831cbc120ea57",
        "type": "debug",
        "z": "d66642cf4bf64b92",
        "g": "4109f40d8078ede0",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 200,
        "wires": []
    },
    {
        "id": "53301869c9a8e9d0",
        "type": "ui_upload",
        "z": "d66642cf4bf64b92",
        "g": "b5521009710765be",
        "group": "150516e9aeff2484",
        "title": "블로그 업로드",
        "accept": "",
        "name": "",
        "order": 2,
        "width": "24",
        "height": "3",
        "chunk": 256,
        "transfer": "binary",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "4879656104586e6b"
            ]
        ]
    },
    {
        "id": "4879656104586e6b",
        "type": "join",
        "z": "d66642cf4bf64b92",
        "g": "b5521009710765be",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 450,
        "y": 380,
        "wires": [
            [
                "c9056ed8587242f0"
            ]
        ]
    },
    {
        "id": "c9056ed8587242f0",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "b5521009710765be",
        "name": "setup save condition",
        "func": "var p = msg.payload;\nvar file = msg.file;\n\nvar newMsg = {\n    path: \"/home/bae-dev02/Pnodered/module/homepage/static/images/blog/\" + file.name,\n    payload: p\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "dadcfda23db212d3"
            ]
        ]
    },
    {
        "id": "dadcfda23db212d3",
        "type": "file",
        "z": "d66642cf4bf64b92",
        "g": "b5521009710765be",
        "name": "파일업로드",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 890,
        "y": 380,
        "wires": [
            [
                "66bed8adf8e3c08e"
            ]
        ]
    },
    {
        "id": "66bed8adf8e3c08e",
        "type": "debug",
        "z": "d66642cf4bf64b92",
        "g": "b5521009710765be",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "c8586af41b745f78",
        "type": "comment",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "File Browser참조",
        "info": "1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.\nflows.nodered.org/flow/44bc7ad491aacb4253dd8a5f757b5407",
        "x": 260,
        "y": 480,
        "wires": []
    },
    {
        "id": "41a66048ec4521fd",
        "type": "inject",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "change",
        "payload": "/home/bae-dev02/Pnodered/module/homepage/static/images",
        "payloadType": "str",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "263f2f5de6795b4d"
            ]
        ]
    },
    {
        "id": "f413d3c0e2f9712e",
        "type": "ui_button",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "topicType": "str",
        "x": 240,
        "y": 580,
        "wires": [
            [
                "263f2f5de6795b4d"
            ]
        ]
    },
    {
        "id": "4a1fc0dd3cfa29c8",
        "type": "ui_dropdown",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "File Selector",
        "label": "",
        "tooltip": "",
        "place": "파일 선택",
        "group": "160e81fb.f1c86e",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "c116fbf23c2bf557"
            ]
        ]
    },
    {
        "id": "44dbc119665b184a",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Format data",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 560,
        "wires": [
            [
                "4a1fc0dd3cfa29c8"
            ]
        ]
    },
    {
        "id": "8caf090378be1aba",
        "type": "ui_template",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "group": "160e81fb.f1c86e",
        "name": "",
        "order": 6,
        "width": "24",
        "height": "9",
        "format": "<style>\ntable {    \n    text-align: center;\n}\n</style>\n<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "def14c8d8d9d5212",
        "type": "template",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<caption>\n      <strong>저장 파일 정보</strong>\n      <br>\n</caption>\n<table width=\"100%\" style=\"text-align: center\" >\n    <tr><th style=\"width:30%\">사진</th><th style=\"width:10%\">파일명</th><th style=\"width:20%\">Size(Byte)</th><th style=\"width:20%\">생성일</th><th style=\"width:20%\">수정일</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"{{url}}\"  target='_blank'><img src=\"{{url}}\" width='50px'></a></td>\n            <td>{{fname}}</td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 1080,
        "y": 640,
        "wires": [
            [
                "8caf090378be1aba"
            ]
        ]
    },
    {
        "id": "4583b21003a062c2",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Convert timestamps",
        "func": "for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n    var url = msg.payload[i].name;\n    msg.payload[i].url = \"../\" + url.substr(48);\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 640,
        "wires": [
            [
                "def14c8d8d9d5212"
            ]
        ]
    },
    {
        "id": "2efac2e5d888c534",
        "type": "ui_button",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 230,
        "y": 880,
        "wires": [
            [
                "91abd97bbdd5f22c"
            ]
        ]
    },
    {
        "id": "6520a7d12782f46a",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Get filename",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "e8c3485ce0bb1ce2"
            ]
        ]
    },
    {
        "id": "e8c3485ce0bb1ce2",
        "type": "file",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Delete file",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 820,
        "y": 820,
        "wires": [
            [
                "4d1b8d515f96be96"
            ]
        ]
    },
    {
        "id": "faf39ee597205f88",
        "type": "http in",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 940,
        "wires": [
            [
                "d732dc31aa2a4d56"
            ]
        ]
    },
    {
        "id": "4f466fadd0ca1bdf",
        "type": "http response",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 940,
        "wires": []
    },
    {
        "id": "d732dc31aa2a4d56",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Get the file name",
        "func": "msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 940,
        "wires": [
            [
                "4379f74941d388de"
            ]
        ],
        "outputLabels": [
            "Folder selected",
            "File selected"
        ]
    },
    {
        "id": "4379f74941d388de",
        "type": "file in",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 720,
        "y": 940,
        "wires": [
            [
                "bc4fe340501b33fb"
            ]
        ]
    },
    {
        "id": "bc4fe340501b33fb",
        "type": "change",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "text/csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "contentdisposition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 940,
        "wires": [
            [
                "4f466fadd0ca1bdf"
            ]
        ]
    },
    {
        "id": "0194d2782becdaf4",
        "type": "ui_toast",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "아니오",
        "cancel": "예",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Confirmation",
        "x": 670,
        "y": 880,
        "wires": [
            [
                "5fdd69edf6fa788a"
            ]
        ]
    },
    {
        "id": "91abd97bbdd5f22c",
        "type": "change",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Set message",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Delete confirmation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "파일을 삭제 하시겠습니까?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 880,
        "wires": [
            [
                "0194d2782becdaf4"
            ]
        ]
    },
    {
        "id": "5fdd69edf6fa788a",
        "type": "switch",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "예",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 880,
        "wires": [
            [
                "6520a7d12782f46a"
            ]
        ]
    },
    {
        "id": "263f2f5de6795b4d",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Folder handling",
        "func": "let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 540,
        "wires": [
            [
                "81c5ee8f4f4218e6",
                "2c875a634c498e34",
                "8268c64aa7a51baf"
            ]
        ]
    },
    {
        "id": "2c875a634c498e34",
        "type": "ui_text",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "group": "160e81fb.f1c86e",
        "order": 4,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Folder:",
        "format": "{{msg.payload.start}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "b8f8fe8e908fd515",
        "type": "ui_button",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_upwards",
        "payload": "",
        "payloadType": "str",
        "topic": "up",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "263f2f5de6795b4d"
            ]
        ]
    },
    {
        "id": "93200da07dd49c90",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Change folder",
        "func": "// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 740,
        "wires": [
            [
                "263f2f5de6795b4d"
            ]
        ]
    },
    {
        "id": "426d8be1e1c1c47f",
        "type": "ui_button",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "autorenew",
        "payload": "/media/bridge/SIGN01/repository/noderedstatic/sd/images",
        "payloadType": "str",
        "topic": "change",
        "topicType": "str",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "263f2f5de6795b4d"
            ]
        ]
    },
    {
        "id": "3fedf4fd47a2e5a4",
        "type": "ui_dropdown",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Folder Selector",
        "label": "",
        "tooltip": "",
        "place": "조회할 폴더 선택",
        "group": "160e81fb.f1c86e",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "6740710d7291dbd7"
            ]
        ]
    },
    {
        "id": "2d6df94c02fb7956",
        "type": "function",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Format data",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 680,
        "wires": [
            [
                "3fedf4fd47a2e5a4"
            ]
        ]
    },
    {
        "id": "c116fbf23c2bf557",
        "type": "change",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "fileselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 580,
        "wires": [
            [
                "cd3ecb632b83fc59"
            ]
        ]
    },
    {
        "id": "6740710d7291dbd7",
        "type": "change",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "folderselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "b8b0c6d495afa98f",
                "6673509206eb067a"
            ]
        ]
    },
    {
        "id": "c50db793a0c1787d",
        "type": "ui_switch",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "label": "Hidden",
        "tooltip": "Show hidden files or not",
        "group": "160e81fb.f1c86e",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "hidden",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "check_box",
        "oncolor": "#000000",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check_box_outline_blank",
        "offcolor": "#000000",
        "animate": true,
        "className": "",
        "x": 240,
        "y": 700,
        "wires": [
            [
                "263f2f5de6795b4d"
            ]
        ]
    },
    {
        "id": "b8b0c6d495afa98f",
        "type": "debug",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 680,
        "wires": []
    },
    {
        "id": "cd3ecb632b83fc59",
        "type": "debug",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 580,
        "wires": []
    },
    {
        "id": "6673509206eb067a",
        "type": "delay",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1470,
        "y": 740,
        "wires": [
            [
                "93200da07dd49c90"
            ]
        ]
    },
    {
        "id": "81c5ee8f4f4218e6",
        "type": "fs-file-lister",
        "z": "d66642cf4bf64b92",
        "name": "Files",
        "start": "/home/bae-dev02/Pnodered/module/homepage/static/images",
        "pattern": "*.*",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 750,
        "y": 600,
        "wires": [
            [
                "44dbc119665b184a",
                "4583b21003a062c2",
                "a2b98251b82177d3"
            ]
        ]
    },
    {
        "id": "8268c64aa7a51baf",
        "type": "fs-file-lister",
        "z": "d66642cf4bf64b92",
        "name": "Folders",
        "start": "/home/bae-dev02/Pnodered/module/homepage/static/images",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "directories",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "2d6df94c02fb7956"
            ]
        ]
    },
    {
        "id": "a2b98251b82177d3",
        "type": "debug",
        "z": "d66642cf4bf64b92",
        "g": "bd3627f098f79991",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 500,
        "wires": []
    },
    {
        "id": "4cd464ef32526d2c",
        "type": "ui_group",
        "name": "블로그 생성",
        "tab": "e45c37dd150cf484",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "150516e9aeff2484",
        "type": "ui_group",
        "name": "UPLOAD",
        "tab": "e45c37dd150cf484",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "160e81fb.f1c86e",
        "type": "ui_group",
        "name": "FileBrowser",
        "tab": "e45c37dd150cf484",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e45c37dd150cf484",
        "type": "ui_tab",
        "name": "Admin",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]